<h1>Ingredients</h1>

<table data-controller="table">
  <thead>
    <tr data-action="click->table#sort">
      <th data-type="name">Name</th>
      <th data-type="calories">Calories</th>
      <th data-type="fat">Fat</th>
      <th data-type="protein">Protein</th>
      <th data-type="carb">Carb</th>
    </tr>
  </thead>
  <tbody class="list">
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td class="name"><%= ingredient.name %></td>
      <td class="calories"><%= ingredient.calories %></td>
      <td class="fat"><%= ingredient.fat %></td>
      <td class="protein"><%= ingredient.protein %></td>
      <td class="carb"><%= ingredient.carb %></td>
    </tr>
  <% end %>
  </tbody>
</table>
