<h1>Ingredients</h1>

<table data-controller="table">
  <thead>
    <tr data-action="click->table#sort">
      <th data-type="name">Name</th>
      <th>Serving Size</th>
      <th data-type="calories">Calories</th>
      <th data-type="fat">Fat</th>
      <th data-type="protein">Protein</th>
      <th data-type="carb">Carb</th>
    </tr>
  </thead>
  <tbody class="list">
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td class="name"><%= link_to ingredient.name, [ :edit, ingredient ] %></td>
      <td><%= round ingredient.serving_size_name %></td>
      <td class="calories"><%= round ingredient.per_serving(:calories) %></td>
      <td class="fat"><%= round ingredient.per_serving(:fat) %></td>
      <td class="protein"><%= round ingredient.per_serving(:protein) %></td>
      <td class="carb"><%= round ingredient.per_serving(:carb) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
