<h1>Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Protein</th>
      <th>Carb</th>
    </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.calories %></td>
      <td><%= ingredient.fat %></td>
      <td><%= ingredient.protein %></td>
      <td><%= ingredient.carb %></td>
    </tr>
  <% end %>
  </tbody>
</table>
