<div class="meals-page">
  <div data-controller="calendar" class="calendar"></div>
  <div data-controller="meals" class="meals-form">
    <h2>Add Meal</h2>
    <%= form_with model: @meal do |f| %>
      <%= f.label :date %>
      <%= f.select :date do %>
        <%= options_for_select Date.today.all_week(:sunday).map{|date| [date.strftime("%A"), date] } %>
      <% end %>
      <%= f.label :time %>
      <%= f.select :time, %w{Breakfast Lunch Dinner} %>

      <div data-target="meals.recipeList">
        <%= f.fields_for :recipe_line_items do |r| %>
          <div data-controller="recipe-list">
            <%= r.text_field :recipe_id, 
              list: "recipes", 
              data: { action: 'change->recipe-list#replaceId focus->recipe-list#selectAll', target: 'recipe-list.name' },
              class: 'recipe-name',
              required: true,
              placeholder: 'Recipe' %>
            <%= r.number_field :servings, data: { target: 'recipe-list.number' } %>
          </div>
        <% end %>
      </div>
      <datalist id="recipes" data-target="meals.recipeOptions">
        <%= options_for_select @recipes.map{|recipe| [recipe.name, recipe.id, { data: { servings: recipe.servings } }]} %>
      </datalist>
      <%= link_to 'Add recipe', '#', data: { action: 'meals#addRecipe' }, class: 'search' %>
      <%= f.fields_for :ingredient_line_items do |i| %>
        <div>
          <%= i.text_field :ingredient_id,
            list: "ingredients",
            class: 'ingredient-name',
            required: true,
            placeholder: 'Food' %>
          <%= i.number_field :unit_number %>
          <%= i.text_field :unit_name %>
        </div>
      <% end %>
      <datalist id="ingredients">
        <%= options_for_select Ingredient.all.map{|i| [i.name, i.id, { data: { } }]} %>
      </datalist>
      <%= link_to 'Add food', '#', data: { action: 'meals#addFood' }, class: 'search' %>
      <%= button_tag 'Save', class: 'save' %>
      <template data-target="meals.recipeTemplate">
        <%= f.fields_for :recipe_line_items, @meal.recipe_line_items.build do |r| %>
          <div data-controller="recipe-list">
            <%= r.text_field :recipe_id, 
              list: "recipes", 
              data: { action: 'change->recipe-list#replaceId focus->recipe-list#selectAll', target: 'recipe-list.name' },
              class: 'recipe-name',
              required: true,
              placeholder: 'Recipe' %>
            <%= r.number_field :servings, data: { target: 'recipe-list.number' } %>
          </div>
        <% end %>
      </template>
    <% end %>
  </div>
</div>
