<div class="meals-page">
  <div data-controller="calendar" class="calendar"></div>
  <div data-controller="meals" class="meals">
    <h2>Add Meal</h2>
    <%= form_with model: @meal do |f| %>
      <%= f.label :date %>
      <%= f.select :date do %>
        <%= options_for_select Date.today.all_week(:sunday).map{|date| [date.strftime("%A"), date] } %>
      <% end %>
      <%= f.label :time %>
      <%= f.select :time, %w{Breakfast Lunch Dinner} %>

      <div data-target="meals.recipeList">
        <%= f.fields_for :recipe_line_items do |r| %>
          <%= render partial: 'recipe_line_item', object: r %>
        <% end %>
      </div>
      <datalist id="recipes" data-target="meals.recipeOptions">
        <%= options_for_select @recipes.map{|recipe| [recipe.name, recipe.id, { data: { servings: recipe.servings } }]} %>
      </datalist>
      <%= link_to 'Add recipe', '#', data: { action: 'meals#addRecipe' }, class: 'search' %>
      <div data-target="meals.foodList">
        <%= f.fields_for :ingredient_line_items do |i| %>
          <%= render partial: 'ingredient_line_item', object: i %>
        <% end %>
      </div>
      <datalist id="ingredients" data-target="meals.ingredientOptions">
        <%= options_for_select Ingredient.all.map{|i| [i.name, i.id, { data: { } }]} %>
      </datalist>
      <%= link_to 'Add food', '#', data: { action: 'meals#addFood' }, class: 'search' %>
      <%= button_tag 'Save', class: 'save' %>
      <template data-target="meals.recipeTemplate">
        <%= f.fields_for :recipe_line_items, @meal.recipe_line_items.build do |r| %>
          <%= render partial: 'recipe_line_item', object: r %>
        <% end %>
      </template>
      <template data-target="meals.ingredientAmountTemplate">
        <%= f.fields_for :ingredient_line_items, @meal.ingredient_line_items.build do |i| %>
          <%= render partial: 'ingredient_line_item', object: i %>
        <% end %>
      </template>
    <% end %>
  </div>
</div>
